@use '../abstracts/tokens' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-sm;
  font-size: $font-size-14;
  font-weight: $font-weight-semibold;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  transition:
    background-color $transition-base,
    border-color $transition-base,
    color $transition-base;

  @include focus-visible;
}

.button--outline {
  padding: rem(3) rem(6);
  border: $border-width-cta solid $border-accent;
  color: $color-white;

  @include hover {
    background-color: $color-accent;
    color: $color-white;
  }
}

.button--primary {
  padding: rem(8) rem(24);
  border: $border-width-cta solid transparent;
  background-color: $color-accent;
  color: $color-white;
  font-size: $font-size-18;

  @include hover {
    border-color: $border-accent;
    background-color: transparent;
    color: $color-accent;
  }
}
