@use '../abstracts/tokens' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.button {
  @include focus-visible;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-sm;
  font-size: $font-size-14;
  font-weight: $font-weight-semibold;
  line-height: $line-height-base;
  text-transform: uppercase;
  transition:
    background-color $transition-base,
    border-color $transition-base,
    color $transition-base;

  &--outline {
    padding: rem(3) rem(6);
    border: $border-width-cta solid $border-accent;
    color: $color-white;

    @include hover {
      background-color: $color-accent;
      color: $color-white;
    }
  }

  &--primary {
    padding: rem(8) rem(24);
    border: $border-width-cta solid transparent;
    background-color: $color-accent;
    color: $color-white;
    font-size: $font-size-18;

    @include hover {
      border-color: $border-accent;
      background-color: transparent;
      color: $color-accent;
    }
  }

  &--secondary {
    padding: rem(6) rem(24);
    border: 1px solid transparent;
    background-color: $color-brand;
    color: $color-white;
    font-size: $font-size-18;

    @include hover {
      border-color: $color-brand;
      background-color: transparent;
      color: $color-brand;
    }
  }

  &--icon {
    flex-shrink: 0;
    width: rem(30);
    height: rem(30);
    padding: 0;
    border: 1px solid transparent;
    background-color: $color-accent;
    color: $color-white;

    @include hover {
      border-color: $border-accent;
      background-color: $color-white;
      color: $color-accent;
    }
  }
}
