@use 'sass:math';

$base-font-size: 16px;

@function rem($pixels, $base: $base-font-size) {
  @if math.is-unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if math.is-unitless($base) {
    $base: $base * 1px;
  }

  @return math.div($pixels, $base) * 1rem;
}
