@use '../abstracts/tokens' as *;

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: $font-weight-regular;
  src: url('../../assets/fonts/Montserrat/Montserrat-Regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: $font-weight-semibold;
  src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('../../assets/fonts/Montserrat/Montserrat-Bold.woff2')
    format('woff2');
}
