@use '../abstracts/tokens' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-14;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing;
  color: $color-text-primary;
  background-color: $color-white;
}
